@import "tailwindcss";
@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orbit {
  animation: orbit 20s linear infinite;
}

.orbit:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
 }
 
